#hero {
  background: url("./../../assets/images/gymOne.jpg") no-repeat center/cover;
  min-height: 100vh;
  .hero {

  }
}
@media (max-width: 993px) {
  #hero {
    .hero{
      padding: 9em 0;
      img {
        display: none;
      }
    }
  }
}