@import "./../../../styles/mixin";

#trainer_hero {
  background: url("./../../../assets/images/trainer_hero_bg.jpg") no-repeat center/cover fixed;
  min-height: 70vh;
  -webkit-box-shadow: 0 5px 100px 600px rgba(0, 0, 0, 0.6) inset;
  -moz-box-shadow: 0 5px 100px 600px rgba(0, 0, 0, 0.64) inset;
  box-shadow: 0 5px 10px 600px rgba(0, 0, 0, 0.65) inset;

  .trainer_hero {
    h1 {
      @include titles;
    }
    span{
      -webkit-text-stroke-color: #000000;
    }

  }
}