#photos {
  .photos {
    img{
      border-radius: 10px;
    }
    .card {
      width: 200px;
      height: 250px;
      perspective: 400px;
    }
    .card img {
      width: 100%;
      backdrop-filter: blur(5px);
      background: rgba(0, 0, 0, 0.56);
    }
    .card__inner {
      position: relative;
      height: 100%;
      transform-style: preserve-3d;
      transition: transform 0.5s;
    }
    .card:hover .card__inner {
      transform: rotateY(-180deg);
    }
    .card__body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      cursor: pointer;

    }
    .card__side {
      position: absolute;
      inset: 0;
      background-color: #FFFFFF;
      //display: grid;
      //grid-template-rows: 180px 1fr;
      backface-visibility: hidden;
      //box-shadow: 0 5px 10px
      //rgba(0, 0, 0, 0.15);
      border-radius: 10px;
    }
    .card__side--back {
      transform: rotateY(180deg);
    }
  }
}