#header {
  .header {
    position: relative;
    img{
      width: 8%;
      padding: 10px 0;
    }

    &--nav {
      a {
        margin: 0 40px;
        font-weight: 600;
      }
      .active{
        color: red;
      }
      .acc {
        position: relative;
        display: flex;
        align-items: center;
        p {
          display: flex;
          align-items: center;
          cursor: pointer;

          span {
            font-size: 30px;
          }
        }
        div {
          position: absolute;
          overflow: hidden;
          top: 30px;
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: yellow;
          border-radius: 3px;
          transition: .5s;
          h3 {
            color: black;
          }
        }
      }
    }
  }
}
// Burger Menu
.label{
  display: flex;
  justify-content: end;
  a{
    padding: 20px 0;
  }
}
.exit{
  color: white;
  font-size: 70px;
  position: absolute;
  z-index: 999;
  right: 60px;
  cursor: pointer;
}

.menu-bos {
  width: 40%;
  height: 100vh;
  margin: 0 0 0 0;
  z-index: 999;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.78);
  position: absolute;
  backdrop-filter: blur(5px);
  img {
    width: 40%;
    padding: 20px 0;
  }
}

.menu{
  display: grid;
  place-items: center;
  margin: 20px 0;
}

.burger {
  display: none;
  cursor: pointer;
  transform: translate(0);
}

.burger-item {
  width: 30px;
  height: 3.40px;
  background: #fff;
  margin: 6px 0;
  transition: .5s;
}


@media (max-width: 1440px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 1025px) {
  .container {
    width: 90%;
  }
  #header {
    .header {
      img {
        //display: none;
      }
    }
  }
}

@media (max-width: 993px) {
  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .burger {
      display: block;
      right: 0  ;
      top: 20px;
      position: absolute;
    }

    .header {
      padding: 40px 0;

      img {
        width: 20%;
        display: block;
        position: absolute;
        top: 13%;
        left: 0;
      }

      &--nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        position: absolute;
        top: 0;
        right: 0;
        //background: rgba(0, 0, 0, 0.72);
        padding: 100px 100px 70px 100px;
        transform: translateX(100%);
        backdrop-filter: blur(5px);

        a {
          margin: 10px 0;
        }
      }
    }
  }
}

@media (max-width: 769px) {
  #header {

    .header {
      img {
        width: 10%;
        display: none;
      }


    }

    .icons {

    }
  }
}