#header {
  .header {

  }

  .burger {
    display: none;
  }

  .burger-item {
    width: 30px;
    height: 3px;
    background: #fff;
    margin: 6px 0;
    transition: .5s;
  }
}


@media (max-width: 1440px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 992px) {
  #header {
    .header {
      padding: 0 0 0 0;

      img {
        //width: 15%;
        display: none;
      }

      &--nav {
        //display: none;
      }
    }
  }
}

@media (max-width: 769px) {
  #header {
    .burger {
      display: block;
      right: 20px;
      position: absolute;
    }

    .header {
      img {
        //width: 15%;
        display: none;
      }

      &--nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        position: absolute;
        top: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.72);
        padding: 100px 100px 70px 100px;
        //transform: translateX(100%);
        backdrop-filter: blur(5px);
        a {
          margin: 10px 0;
        }
      }

    }

    .icons {

    }
  }
}