#gallery {
  .gallery {

    &--service1 {
      transition: .5s;
      position: relative;

      &:hover {
        .gallery--service1__block {
          height: 0;
          transition: .5s;
          backdrop-filter: blur(9px);
        }

        h3 {
          color: white;
          font-size: 54px;
          transition: .5s;
          font-weight: 700;
        }
      }


      img {
        display: block;
      }

      &__block {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        transition: .5s;
      }


      h3 {
        transition: .5s;
        position: absolute;
        margin-bottom: 0;
        letter-spacing: 2px;
        font-size: 32px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 99;
        color: transparent;
        font-weight: 700;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #ffffff;
        text-transform: uppercase;
      }

      &__one {
        position: relative;
      }
    }
  }
}

@media (max-width: 1440px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 1041px) {
  #gallery {
    .gallery {
      &--service1{
        &__one{
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 951px) {
  #gallery {
    .gallery {
      &--service1{
        width: 200%;

        &__one{
        }
      }
    }
  }
}