#information {
  .information {
    h1 {
      color: transparent;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #d2cece;
      text-transform: uppercase;
      padding: 20px 0;

    }
  }
}